<head>
        <!--<title> Login Form </title>-->
        <!-- CSS -->
        <link rel="stylesheet" href="../../assets/css/login.css">        
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>              
</head>

    
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Login</header>
                    <form action="/auth/login" method="POST">
                        <div class="field input-field">
                            <input type="email" name ="email" placeholder="Email" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="password" name="password" placeholder="Password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field button-field">
                            <button type="submit">Submit</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Don't have an account?</span>
			            <a href="/auth/signup">Signup here</a>
                    </div>
                </div>
            </div>
         </section>
    

