<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="../../assets/css/donate.css">
<meta name="viewport" content="width=device-width,intial-scale=1.0">
<script src="https://kit.fontawesome.com/070d9e53fc.js" crossorigin="anonymous"></script>
</head>


    <section class="page">

    <div class="container">
    <img src="../../assets/images/donateforzero.jpg">
    <form action="/donor/donate" method="POST">
        <div class="user-details">
            <div class="input-box">
            <span class="details">Number of food items to be donated</span>
            <input name="donation[itemsCount]" type="text" placeholder="Type the number..." required>
        </div>
    </br>

         <div class="user-details">
            <div class="input-box">
            <span class="details">Quantity</span>
            <input name="donation[quantity]" type="text" placeholder="Enter quantity of food..." required>
        </div>
        
        <p> Food category </br>
         <input name="donation[category]" type="radio" name="VegorNon-VegorBoth" value="Veg">
         Veg</br>
         <input name="donation[category]" type="radio" name="VegorNon-VegorBoth" value="Non-Veg">
         Non-Veg</br>
         <input name="donation[category]" type="radio" name="VegorNon-VegorBoth" value="Both">
         Both</br>
        </p>
        <div class="user-details">
            <div class="input-box">
            <span class="details">Date of pickup</span>
           <input name="donation[pickupDate]" type="date" name="dateField"/>

        </div>
        </br>
        <div class="user-details">
            <div class="input-box">
            <span class="details">Time of pickup</span>
           <input name="donation[pickupTime]" type="time" onchange="onTimeChange()" id="timeInput" />
           </div>
        </br>
         
             
            <label for="food">Food Type:</label>
  <select name="donation[foodType]" name="food" id="food" multiple>
    <option value="Rice">Rice</option>
    <option value="Dal">Dal</option>
    <option value="Food from hotel">Food from eateries</option>
    <option value="Water/juice">Water/juice</option>
    <option value="Biscuits">Biscuits</option>
    <option value="Others">Other...</option>
   </select>
  <br>
        <br>
        <div class="user-details">
          <div class="input-box">
          <span class="details">Address to collect from</span>
          <input type="text" name="donation[address]" class="form-control" id="address" placeholder="Enter address.." value="<%= currentUser.address %>" required>
        </div>
        </br>
        <br>
          <div class="user-details">
            <div class="input-box">
            <span class="details">Phone</span>
            <input type="number" name="donation[phone]" class="form-control" id="phone" placeholder="Enter phone.." value="<%= currentUser.phone %>" required>
        </div>
        </br>
        <br>
          <div class="user-details">
            <div class="input-box">
            <span class="details">Want to write some message?</span>
            <textarea type="text" name="donation[donorToAdminMsg]" class="form-control" id="msg" placeholder="You can write here some msg.."></textarea>
        </div>
        </br>

        <input type="submit" value="Donate">
 


        </form>
        </div>
       </section>


