<main>
<head>
<link rel="stylesheet" href="../../assets/css/aboutus.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
  <script src="https://kit.fontawesome.com/7aa1c87325.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>

  <div class="hero">
     <div class="title">
      <h1>ABOUT US</h1>
      <div class="back-text">
        <span>A</span>
        <span>B</span>
        <span>O</span>
        <span>U</span>
        <span>T</span>
        <span>U</span>
        <span>S</span>
      </div>
      <hr style="width: 100%;">
    </div>
  </div>
  
  <script>
    let spanTexts=document.getElementsByTagName("span");
    window.onload = function(){
      for(spanText of spanTexts){
        spanText.classList.add("active");
      }
    }
  </script>
  
  <section class="part 2">
    <div class="quote">
      <h2 style="text-align: center;"><p>"Throwing away food is like stealing from the table of those who are hungry."<br>~Pope Francis
      </p></h2>
    </div>
  </section> <!--- quote part -->

  <svg class="editorial"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28 "
     preserveAspectRatio="none">
 <defs>
 <path id="gentle-wave"
 d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
  </defs>
  <g class="parallax1">
   <use xlink:href="#gentle-wave" x="50" y="3" fill="#f461c1"/>
  </g>
    <g class="parallax2">
   <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2"/>
    </g>
      <g class="parallax3">
   <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1"/>
   </g>
    <g class="parallax4">
   <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff"/>  
  </g>
</svg>

<div class="text-box">
    <p style="font-size: x-large;"> Too Good To Go is a non profit organization that aims to battle problems of food waste and world hunger simultaneously.
    The organization targets to reduce food wastage in nearby areas by collecting left over food from parties,weddings,corporate events,
    functions,etc along with fresh donations from active and aware members of the society and help it reach an empty stomach on time. 
    </p>
<br>
<h1 style="color:black"><i class="fa-solid fa-flag-checkered fa-beat"></i> <u>Where it All Began</u> <i class="fa-solid fa-flag-checkered fa-beat"></i></h1>
  <p  style="font-size: x-large;"> The incubation of the idea began during the second semester when the admins were given the mini project of their choice to work on. 
  The target was to create something that will benefit society and be of practical use. Becoming aware of the large scale food waste being 
  generated in terms of agriculture, packaged foods and leftovers and the increase in te hunger index of the world, a small problem of 
  using leftovers wisely was chosen and worked upon. The project began with zero idea of website development, management techniques and four
  zealous admins to bring about a change. And thus, TGTG was born.
</p>
<p style="font-size: x-large;">
  TGTG works alongside NGOs with social responsibility and networks, other partners and volunteers to create a local chapter of excess 
  food collection institution, addressing the two major challenges– namely urban and environmental, following the United Nations Sustainable 
  Development Goals to end hunger, achieve food security and improved nutrition, and promote sustainable agriculture.
</p>
</div>

  <div class="text-box2">
  <h1 style="color:black"> <i class="fa-solid fa-chart-line fa-flip fa-2x" style="--fa-animation-duration: 3s;"></i><u>&nbsp;A Statistical Study of World Food Waste And Hunger</u></h1>
  <div class="div1">
    <p style="font-size: x-large;">
      <i class="fa-regular fa-hand-point-right"></i>A global level study by the Food and Agriculture Organization of the United Nations (FAO) in 2021 says that roughly 1.3 billion tonnes of total
       edible food is wasted every year along with food wastage's carbon footprint being estimated at 3.3 billion tonnes of CO2 equivalent of GHG 
       released into the atmosphere per year. The direct economic consequences of food wastage (excluding fish and seafood) run to the tune of 
       $750 billion annually.United Nations Food and Agriculture Organization (FAO) also estimates that about 828 million people in the world 
       were affected by hunger with 2.3 billion people being severly or moderately food insecure.
    </p>
  </div>
  <div class="div2">
    <img src="FAO_logo.png" alt="">
  </div>
  </div>
  <div class="div3">
    <img src="kid.png" alt="" width="400" height="400">
  </div>
  <div class="div4">
    <p style="font-size: x-large;">
      <i class="fa-regular fa-hand-point-right"></i>Over a sixth of India's population is permanently hungry and undernourished, i.e, almost 20 crore Indians go to sleep empty-stomach every day. 
      FAO 2019 Report reveals that around 14.5% of the Indian population falls beneath the underfed category. In India, around 194 million people withstand 
      under the shackles of undernourishment.  Over a third of the children under the age of five show the prevalence of stunting. India is the 
      second-largest food producer in the World after China contributing to about 10.04% of the total World’s food production. But, an 
      average Indian household wastes 50 kg of food per person per year or 68,760,163 tonnes a year, according to the United Nations 
      Environment Programme's Food Waste Index Report 2021 which has been valued at around INR 92,000 crores. The report explains that 
      around 931 million tonnes of food waste were generated in 2019, 61% of which came from households, 26% from food service and 
      13% from retail.
    </p>
  </div>
  <br>
  <div class="para3">
  <p style="font-size: x-large;"><i class="fa-regular fa-hand-point-right"></i>Hunger cannot be combated without a strategy. India has a twin problem of excess supply of foodgrain (flagged by the RBI) and an excess number of 
    very hungry people, which indicates that food is piling up at one end and on the other nearly 200 million people are hungry. A solution has to be found
    to acheive equilibrium where the food reaches the hungry on time and produce does not go to waste.
  </p>
</div>
</div>
  <div class="mission">
      <h1 style="color:black"> <i class="fa-solid fa-scroll"></i><u> Our Mission </u></h1>
      <div class="col">
        <h2 style="color:black">Understand</h2>
        <p><i class="fa-solid fa-lightbulb fa-2x fa-beat"></i></p>
        <p style="color:black" style="font-size: x-large;"> To make people realize the importance of food waste management and show the ground reality of crippling hunger plaguing the world.</p>
     </div>
     <div class="col">
        <h2 style="color:black">Act</h2>
        <p><i class="fa-solid fa-hand-holding-heart fa-2x fa-beat"></i></p>
        <p style="color:black" style="font-size: x-large;"> To bring a change, even if it begins with a small effort. One less hungry stomach is still better than a hungry one.</p>
      </div>
     <div class="col">
        <h2 style="color:black"> React</h2>
        <p><i class="fa-solid fa-volume-high fa-2x fa-beat"></i></p>
        <p style="color:black" style="font-size: x-large;">Spread the word.</p>
     </div> 
    </div> 
    
    
    <div class="work">
      <br>
      <h1 style="color: black;"><i class="fa-solid fa-truck fa-1x"></i><u> How We Work</u></h1>
      
      <ol style="font-size: x-large;">
        <li>Surplus food is picked up from the food donor and packed in clean and covered containers.</li>
        <li>Surplus food is stored and transported in appropriate hygienic condition</li>
        <li>Transporting vehicle is cleaned on a regular basis and not used for purposes other than delivering food.</li>
        <li>Surplus food is distributed or served to the needy before the expiry of surplus food.</li>
        <li>Food is always stored off the floor and away from walls and non-food items. Storage area, including the floor, pallets and shelves are cleaned regularly.</li>
        <li>Doors, windows and roofs of storage area are well sealed to prevent pest entry and a pest control program is organized at regular intervals.</li>
        <li>Our staff and volunteers are oriented with personal hygiene and sanitation practices for maintaining hygiene standards in food handling.</li>
        <li>We are maintaining a standard documentation process in which we record details of surplus food viz. details of donor, hunger spots, donation date, food item, food quantity, date of distribution 
          and other required data using the webiste designed from scratch by the admins so that datacan be accessed at any point in the future in a user friendly way.</li>
      </ol>
    </div>
    
    <div class="admins">
      <h1 style="color:black"> <u>Meet The Admins</u></h1>
      <div class="column">
        <a href="about us.html"> <img src="d.png" width="150" height="150"></a>
        <p style="font-size: larger">Diksha Padiyar</p>
      </div>
      <div class="column">
        <a href="about us.html"> <img src="nfinal.png.png" width="150" height="150"></a>
        <p style="font-size: larger">Navya Malhotra</p>
      </div>
      <div class="column">
        <a href="about us.html"> <img src="sh.png" width="150" height="150"></a> 
        <br>
        <p style="font-size: larger">Sharanya Ramchandra</p>    
      </div>
      <div class="column">
        <a href="about us.html"> <img src="sw.png" width="150" height="150"></a>
        <br>
        <p style="font-size: larger">Swabhi Srivastava</p>
      </div>
    </div>  
   <div class="footer">
    <p style="font-size: x-large"> About Us</p>
    <p style="text-align:center">TGTG is a non progit organization aimed at reducing food waste and contributing to solving the world hunger crises plaguing millions.</p>
    <p style="text-align:center">Be a part of the change. Donate now.</p>
    <div class="icons" style="text-align:center">
      <i class="fa-brands fa-facebook fa-2x"></i>
      <i class="fa-brands fa-instagram fa-2x"></i>
      <i class="fa-brands fa-twitter fa-2x"></i>
      <i class="fa-brands fa-youtube fa-2x"></i>
      <i class="fa-brands fa-linkedin fa-2x"></i>
    </div>
    <p style="text-align:center">Too Good To Waste 2022.<i class="fa-solid fa-copyright"></i> All Rights Reserved. Made with <i class="fa-solid fa-heart"></i></p>
  </div>
</main>
