<head>
  <meta charset="utf-8">
  <title>Food Waste Management</title>
  <link rel="stylesheet" href="../../assets/css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
  <script src="https://kit.fontawesome.com/7aa1c87325.js" crossorigin="anonymous"></script>
  <style>
    .center {
      text-align: center;
      width: 100%;
    }
  </style>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

  <body>
    <section class="header">
      <nav>
        <div>
                <div class="nav-links-left">
                  <a href="/"><img src="../../assets/images/logo2.png" /></a>
                </div>
              </TD> 
              <TD>
                <div class="nav-links">
                  <ul>
                    <li><a href="/home/aboutus">ABOUT US</a></li>
                    <li><a href="/auth/signup">SIGN UP</a></li>
                    <li><a href="/auth/login">LOG IN</a></li>
                  </ul>
                </div>
        </div>
      </nav>
   

    <div class="text-box">
      <h1>TOO GOOD TO GO</h1>
      <p>690 million people sleep with an empty stomach everyday.
        200 million people sleep hungry in our own country.
        <br>
        You and I can help.
        <br>
        All it takes is one warm meal.
      </p>
      <a href="/donor/donate" class="hero-btn">Be a donor today.</a>
      <div class="platecounter">
        <span class="num" data-val="100">000</span>
        <span class="text">+Plates Served</span>
      </div>
      <script src="assets/js/platecount.js"></script>

  </section>
  <section class id="part2">
    <div class="row">
      
    </div>
    
  </section>


  <section class="part2">
    <div class="heading">
      <h1 style="text-align:center">What We Do</h1>
    <br>
    </div>
    <div class="column">
      <img src="../../assets/images/p1.png">
      
    </div>
    <div class="column">
      <img src="../../assets/images/p2.png">
    </div>
    <div class="column">
      <img src="../../assets/images/p3.png">
    </div>
    <hr style="width: 100%;">
  </section>

  <section class="part3">
   
    <div class="column2">
      <h3><b>50+ VOLUNTEERS</b></h3>
      <img src="../../assets/images/volunteers final logo.png">
      
      
    </div>
    <div class="column2">
      <h3 style="text-align:center"><b>PARTNER</b></h3>
      <img src="../../assets/images/DSCE final logo.png">
    </div>
    <div class="column2">
      <h3 style="text-align:center , bold"><b>TIED UP WITH NGO's</b></h3>
      <img src="../../assets/images/Smilingkids final logo.png">
    </div>
    <hr style="width: 100%;">
  </section>

  <section class="part 4">
    <div class="heading">
      <h1 style="text-align:center">Our Goal is To Ensure</h1>
    </div>

    <div class="container">
      <div class="col">
        <i class="fa-solid fa-phone fa-5x center"></i>
        <h3 style="text-align:center">Get in Touch</h3>
        <p style="text-align:center">Reach out to us at TGTG@gmail.com.</p>
      </div>
      <div class="col">
        <i class="fa-solid fa-award fa-5x center"></i>
        <h3 style="text-align:center">Quality Check</h3>
        <p style="text-align:center">Food checked based on Safety and Standard Food Guidelines.</p>
      </div>

      <div class="col">
        <i class="fa-solid fa-truck fa-5x center"></i>
        <h3 style="text-align:center">Deliver</h3>
        <p style="text-align:center">Fresh food delivered with love.</p>
      </div>
      <hr style="width: 100%;">
  </section>
 
  <section>
    <h1 style="text-align:center">What People Say About Us</h1>
  </section>

  <section class="part5">
    <div class="slider">
      <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">

        <div class="slide first">
          <img src="../../assets/images/shreyas.jpeg">
        </div>
        <div class="slide">
          <img src="../../assets/images/ranjitha.jpeg" alt="">
        </div>
        <div class="slide">
          <img src="../../assets/images/vishwas.jpeg" alt="">
        </div>
        <div class="slide">
          <img src="../../assets/images/Adi.jpeg" alt="">
        </div>

        <div class="navigation-auto">
          <div class="auto-btn-1"></div>
          <div class="auto-btn-2"></div>
          <div class="auto-btn-3"></div>
          <div class="auto-btn-4"></div>
        </div>
      </div>

      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
      </div>

    </div>

    <script type="text/javascript">
      var counter = 1;
      setInterval(function() {
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if (counter > 4) {
          counter = 1;
        }
      }, 5000);
    </script>
  </section>
  <br>
  <section>
    <div class="button">
      <a href="/home/reviewus" class="review-btn center">Write a review.</a>
    </div>
  </section>
  <hr style="width: 100%;">

  <h3 style="text-align:center">FAQs</h3>
  <section class="part6">
    <div class="FAQ">
      <ul id="accordion">
        <li>
          <label for="first">What is TGTG?<span>&#x3e;</span></label>
          <input type="radio" name="accordion" id="first" checked>
          <div class="content">
            <p>TGTG is a non profit organization based in Bangalore that aims to reduce food waste and hunger by delivering surplus food to people in need.
            Currently operating from Kuamarswamy Layout, the donations are being delivered in aread in and around Jayanagar, JP Nagar and Bannerghatta Road.</p>
          </div>
        </li>
        <li>
          <label for="second"> How can I donate? <span>&#x3e;</span></label>
          <input type="radio" name="accordion" id="second">
          <div class="content">
            <p>You can be a donor today by signing up and filling in the details of your donation. Our agent will be at your doorstep at your convenient time and 
            deliver the food to the distributing NGO. It's that simple! <br> Currently, TGTG is not accepting any monetary donations.
            </p>
          </div>
        </li>
        <li>
          <label for="third">How can I become a volunteer?<span>&#x3e;</span></label>
          <input type="radio" name="accordion" id="third">
          <div class="content">
            <p>You can become a volunteer for TGTG by signing up with the agent option. Deliveries in nearby areas will be assigned and can be accepted or
            declined at convenience. TGTG is appreciative of all help but are looking for serious volunteers who are available for deliveries often.</p>
          </div>
        </li>
      </ul>
    </div>
    </div>
  </section> 

  
<hr style="width: 100%;">

  <div class="footer">
    <br>
    <h3 style="text-align:center">About Us</h3>
    <p style="text-align:center">Something small about us that sums up the cause in like 2 lines or we can do smn else here anything works.</p>
    <div class="icons">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <p>Too Good To Waste 2022.<i class="fa-solid fa-copyright"></i> All Rights Reserved. Made with <i class="fa-solid fa-heart"></i></p>
    <br>
  </div>
  <hr style="width: 100%;">
