body {
      background-color: #E4E9F7;
      padding: 50px;
  }
  
  
  table {
      border-collapse:separate;
      border:solid black 2px;
      border-radius:6px;
      font-family: 'Poppins', sans-serif;
    
  }
  
  td, th {
      border-left:solid black 1.5px;
      border-top:solid black 1.5px;
  }
  
  th {
      border-top: none;
  }
  
  td:first-child, th:first-child {
       border-left: none;
  }
  th{
     background-color:#fff;
     color:#707070;
    }
  td{
    background-color:#fff;
    color:#707070;
  }
  a:link {
    text-decoration: none;
  }
  h1{ color:#707070; 
  }
  h1{ text-align: center;
  }
  h1{
    font-family: 'Poppins', sans-serif;
  }
  
  dl{
   font-family: 'Poppins', sans-serif;
  }
  dl {
      list-style-type: disc;
  }

  form {
  font-family: 'Poppins', sans-serif;
  }
  .button1 {
    background-color:#949494;
    color: #fff;
    border: 1px solid black;
    font-size: 10px;
   padding: 5px 12px;
    border-radius: 0px;
  }
  
  .button1:hover {
    background-color: #1fd655;
    color: #707070;
  }

  h1{ color:#707070;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .mydiv1{
    border: 0px outset white;
    border-radius: 25px;
    background-color: #fff ;
    position: absolute;
    left: 30%;
    top:14%;
    margin:25px;
    padding:40px;
    color:#707070;
  }

  .mydiv2{
    border: 0px outset white ;
    height:10%;
    width:95%;
    border-radius: 6px;
    background-color: #FFFFFF ;
    position: absolute;
    left: 0%;
    top:  15%;
    margin:22px;
    padding:0px;
   
  }
