<html>
<main>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href=""../../assets/css/agentprofstyles.css"">
</head>
<style>
.mydiv1{
  border: 0px outset white;
  border-radius: 25px;
  background-color: #fff ;
  position: absolute;
  left: 33%;
  top:7%;
   margin:25px;
padding:40px;
color:#707070;
}
</style>
</head>
</div>
<h1>Details</h1>
      <font size="+1">
<div class="mydiv1">
   <font face="Poppins"> 
<div class="mydiv1">
   <font face="Poppins"> 

		
		
			
				<div class="col-sm-6 mb-4">
					<label for="Donor name" class="form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Donor name</label>
					<input type="text" name="donor[donorname]" class="form-control" id="donor-name" placeholder="Enter first name.."  value=" " required>
				</div>
                <br>
				
				<div class="col-sm-6 mb-4">
					<label for="Phone number" class="form-label">&nbsp;&nbsp;Phone number</label>
					<input type="text" name="agent[lastName]" class="form-control" id="last-name"  placeholder="Enter last name.."  value=" " required>
				</div>
			
<br>
			
			
			<div class="mb-4">
				<label for="Address" class="form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address</label>
				<input type="Address" id="Address"  placeholder="Enter address.."  class="form-control" value="     " required>
			</div>
<br>
                  <div class="mb-4">
				<label for="Quantity" class="form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity</label>
				<input type="Quantity" id="Quantity" placeholder="Enter quantity.." class="form-control" value="     " required>
			</div>
			
			 <br>
			
			<div class="mb-4">
				<label for="Food type" class="form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Food type</label>
				<input type="text" name="agent[food type]" class="form-control" id="food type" placeholder="Enter food type.." value="  ">
			</div>
<br>
			
			<div class="mb-4">
				<label for="Date" class="form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date</label>
				<input type="date" name="agent[Date]" class="form-control" id="Date" value="   ">

                  </div>
<br>
               <div class="mb-4">
				<label for="Time of Pickup" class="form-label">Time of Pickup</label>
				<input type="time" name="agent[Time of pickup]" class="form-control" id="time" value="   ">
<br>

                  </div>
<br>
			<a href=""../../views/agent/Pendingcollection1.ejs"."> 
             <button class="button button1">Go Back</button>
        </a>
		</form>
		
</font>		
		
</div>	
</main>
</html>